# Exercise sheet 2

Topics of this exercise sheet are:

* Work with Jupyter
* Lecture 2: Tidy data, pandas

Please let us know if you have questions or problems! <br>
Contact us during the exercise session or on [Piazza](https://piazza.com/unibas.ch/spring2024/63982)


**Automatic Feedback**

This notebook can be automatically graded using Otter grader. To find how many points you get, simply run `grader.check_all()` from a new cell.

### Setting up the grader

Please run the following two cells to set up the grading system.

In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("02-exercise-pids2024.ipynb")

In [ ]:
import numpy as np
from pandas import DataFrame as df
import otter
grader = otter.Notebook()

## 1 - Tidy data (9 points)

### A (2 points)
We will use data published by the [World Bank](https://data.worldbank.org/indicator/SP.POP.TOTL) about population in countries.

In [ ]:
import pandas as pd

population = pd.read_csv("population_data.csv", skiprows=3).dropna(how='all', axis=1)
population.head()

**Question 1**:
Manipulate the dataframe "population" to be tidy. Currently, column headers are values, not variable names.

* Make a new dataframe "population_melted" that contains the same data as "population", but
    * it has a new column "Year" containing the year of the observation
    * it has a new column "Population" containing the number of inhabitants of the country in this year
    * otherwise, it has exactly the same columns and data as "population"
*Hint*: you can use 'pd.melt'.

In [ ]:
class Question1:
    population_melted = ...

In [ ]:
grader.check("Question 1")

**Question 2**: Sort the dataframe population_melted by "Country Name" and "Year"

In [ ]:
class Question2:
    # You can access the population from above as 
    # Question1.population_melted
    population_melted_sort = ...

In [ ]:
grader.check("Question 2")

### B (3 points)
We will use data about the average height in countries around the world. It comes from [Kaggle](https://www.kaggle.com/majyhain/height-of-male-and-female-by-country-2022).

In [ ]:
height = pd.read_csv("height_2022.csv")
height.head(-1)

**Question 3**: Make a new dataframe "height_tidy" where you removed the columns "Male Height in Ft", "Female Height in Ft"

In [ ]:
class Question3:
    height_tidy = ...

In [ ]:
grader.check("Question 3")

**Question 4**: Manipulate the dataframe "height_tidy" to be tidy. Currently, multiple variables are stored in one column.

* Make a new dataframe "height_melt" that contains the same data as "height_tidy", but
    * it has a new column "Sex" containing a single character "M" or "F" for "male"/"female"
    * it has a new column "Height in Cm" containing data about the height in cm

In [ ]:
class Question4:
    
    # You can access height_tidy using Question3.height_tidy
    
    height_melt = ...
    ...

    # shrink the data on gender to one letter
    ...

    # show that it works
    display(height_melt.head(5))

In [ ]:
grader.check("Question 4")

### C (4 points)
We will work with data about billboards in the 2000s (as in the lecture).

In [ ]:
billboard = pd.read_csv("billboard_intermediate.csv")
billboard.head()

**Question 5:**: Manipulate the dataframe "billboard" into two dataframes that each store one observational unit.

* Make a new dataframe "billboard_songs" that contains information about the songs
    * It should contain these columns from the "billboard" dataframe: "artist.inverted", "track", "time", "genre"
* Make a new dataframe "billboard_charts" that contains information about the chart performance of the songs
    * It should contain these columns from the "billboard" dataframe: "date", "date.peaked", "week", "rank"
* Additionally, both dataframes should contain a column named "track_id" that gives each track a unique ID and links the information in the two dataframes.

(Hint: Pandas has a function [.groupby().ngroup()](https://stackoverflow.com/questions/39665374/how-to-make-a-group-id-using-pandas) that could help you with the track id)

In [ ]:
class Question5:
    # First add the track id
    ...

    # Now split the dataframe
    ...
    billboard_songs = ...
    display(billboard_songs.head())

    billboard_charts = ...
    display(billboard_charts.head())

In [ ]:
grader.check("Question 5")

## 2 - EDA (6 points)

### A (2 points)
Let's answer one more question about billboard hits in the 2000s. Use the billboard, billboard_songs or billboard_charts dataframes from the previous tasks.

**Question 6**: What was the number one hit (rank = 1) on 2000/07/29? This question may seem random (and it is), but this is the 2000s! This is the day on which Jennifer Aniston married Brad Pitt. Did they play this song? Who knows.

* Define one variable
    * "name_song": Name of the song that was at rank 1 on the given date

In [ ]:
class Question6:  
    ...
    name_song = ...
    display(name_song)

In [ ]:
grader.check("Question 6")

### 2b (4 points)
Let's answer some questions about average heights. Use the height, height_tidy or height_melt dataframes from previous tasks.

**Question 7**: What's the country with the tallest men?

* Define two variables
    * "country_tallest_men": Name of the country of tallest men as a string
    * "height_tallest_men": Average height of men in this country in cm

(Hint: Pandas function max() can help here!)

In [ ]:
class Question7:
    ...

    country_tallest_men = ...
    height_tallest_men = ...

In [ ]:
grader.check("Question 7")

**Question8**: In which country is the difference of average heights between men and women largest?

* Define two variables
    * "country_largest_difference": Name of the country where the average height difference between men and women is largest
    * "largest_difference": Difference of average heights of men and women in this country in cm

In [ ]:
class Question8:
    ...

    ...

    country_largest_difference = ...
    largest_difference = ...

In [ ]:
grader.check("Question 8")

**Question 9**: What's (Pearson's) correlation value of average male and average female height?

* Define a new variable "corr_avg_heights" that contains the correlation value of average male and female heights

(Hint: Use Panda's function corr().)

In [ ]:
class Question9:
    corr_avg_heights = ...

In [ ]:
grader.check("Question 9")

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Please download this notebook as a .ipynb file and submit it on Adam. To download the notebook choose 
> File->Download as->Notebook (.ipynb)

in the menu.