# Exam Insurance - 2 

Time: 10 Minutes

Please solve the following exercises.

In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("insurance-2.ipynb")

In [68]:
import pandas as pd

### Question 0: Attendence

Write down the number on the black board.

In [69]:
class Question0:
    answer = ...

### Question 1

The following dataset is not tidy. Please make it tidy by melting it. It should have a new column *subject* and a new column *score*.

In [ ]:
data = {
    'Student_ID': ['S001', 'S002', 'S003', 'S004'],
    'Name': ['Alex', 'Bryan', 'Cathy', 'Diana'],
    'Math': [88, 72, 94, 89],
    'Science': [84, 76, 88, 92],
    'English': [90, 82, 95, 88]
}

grades = pd.DataFrame(data)
display(grades)

In [ ]:
class Question1:
    
    grades_tidy = ...  # your answer
    display(grades_tidy)

Check your answer:

In [ ]:
grader.check("Question 1")

### Question 2

Sort the values in the following dataframe according to descending temperatures.

In [ ]:
# Creating a DataFrame
data = {
    'Date': ['2023-03-05', '2023-03-03', '2023-03-04', '2023-03-05', '2023-03-03', '2023-03-04', '2023-03-02', '2023-03-01', '2023-03-02', '2023-03-01', '2023-03-05', '2023-03-03', '2023-03-04', '2023-03-02', '2023-03-01'],
    'City': ['New York', 'New York', 'New York', 'Los Angeles', 'Los Angeles', 'Los Angeles', 'Los Angeles', 'Los Angeles', 'New York', 'New York', 'Chicago', 'Chicago', 'Chicago', 'Chicago', 'Chicago'],
    'Temperature': [12, 10, 11, 19, 18, 20, 17, 16, 9, 8, 5, 7, 6, 4, 3]
}

temperatures = pd.DataFrame(data)
display(temperatures)

In [ ]:
temperatures.sort_values(by="Temperature", ascending=False)
class Question2:
    
    temperatures_sorted = ... # your answer
    display(temperatures_sorted)

In [ ]:
grader.check("Question 2")

### Question 3

Create a new dataframe `cold_temperatures`, which contains only the rows, where the temperature is below 15 degrees.

In [ ]:
class Question3:
    
    cold_temperatures = ...  # your answer
    display(cold_temperatures)

In [ ]:
grader.check("Question 3")